#content {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#greeting-container {
  margin-top: 20px;
}

* {
   margin: 0px;
   padding: 0px;
}

#header {
    width: 100%;
    height:150px;
    background: #404E4D;
    color: #EBF6FF;
}

h1  {
    margin-left: 10px;
    padding-top: 40px;
    text-align: left;
}

#tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    top: 40px;
    
}

.tab {
    margin-right: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.tab:hover {
    padding-top:2px;
}


body {
    background: #EBF6FF;
    font-family: 'Open Sans', sans-serif;
    color: #2E3532;
}

.contentdiv {
    padding-top: 20px;
    margin-bottom: 20px;
}

#aboutme-div {
    display:block;
    height: 80vh;
}

#aboutme {
    vertical-align:middle;
}


#profileimg {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    margin-right: 10px;
    float: left;
}

#links {
    display: flex;
}


#linkedin-icon:hover, #github-icon:hover, #github-img:hover {
  opacity: 0.7;
}

#linkedin-icon {
    width: 50px;
    height: 40px;
    background: transparent;
}

#linkedin-img {
    width: 48px;
    height: 40px;

}
#github-icon {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    background: black;
    border-radius: 2px;
}

#github-img {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

#slideshow-container {
    display: block;
    width: 300px;
    height: 400px;
}

#slideshow-container-container {
    display:flex;
    align-items:center;
    justify-content:center;
}

.arrow {
    height: 40px;
    width: 25px;
    margin: 10px;
    cursor: pointer;
}

.title-arrow {
    height: 12px;
    width: 8px;
    margin-left: 40px;
    margin-right: 40px;
    cursor: pointer;
}

#slides-title-container {
    display: flex;
    align-items:center;
    justify-content: center;
}

#slides-title {
    text-align: center;
    width: 200px;
}

.projects-grid-item-div {
    position: relative;
    text-align: center;
    height: 300px;
    width: 400px;
}
.projects-img {
    height: 300px;
    width: 400px;
    
}
.projects-img-text {
    height: 300px;
    width: 400px;
    background: rgb(0, 0, 0, .2);
    text-align: center;
    color: #EBF6FF;
    font-size: 30px;
    line-height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    margin: auto;
}

.project-description {
    margin: auto;
    font-size: 18px;
    line-height: 18px;
}

#bottom-div {
    display: flex;
    margin-top: 50px;
    height: 80%;
}

#comments-form {
    width: 50%;
}

#submit-button {
    background: #404E4D;
    width: 100px;
    height: 35px;
    color: #EBF6FF;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border: none;
}

.button, button {
    cursor: pointer;
    background: #404E4D;
    width: 100px;
    height: 35px;
    color: #EBF6FF;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border: none;
}

#comments-form {
    float: left;
}

#comments-board {
    min-height: 30%;
    margin-top: 30px;
    border: 2px solid #404E4D;
    padding: 10px;
    line-height: 18px;
}

#comments-area {
    float: right;
    width: 50%;
    height: 600px;
}

#clear-button {
    width: 200px;
    margin-top: 15px;
}

#max-selection {
    border: 2px #404E4D;
    background: #EBF6FF;
    color: #404E4D;
    border-style: solid;
}

a {
    color: #EBF6FF;
    text-decoration: none;
}

.comment {
    display: flex;
    line-height: 30px;
    margin-bottom: 5px;
}

.comment-initial {
    color: #EBF6FF;
    background: #404E4D;
    border-radius: 15px;
    height: 30px;
    width: 30px;
    text-align: center;
    margin-right: 10px;
    cursor: pointer;
}

.comment-message {
    max-width: 90%;
}

.comments-page-inc {
    margin-top: 15px;
}

.comment-popup {
    display: none;
    font-size: 12px;
    width: 100px;
    background: #404E4D;
    color: #EBF6FF;
    opacity: 80%;
    position: relative;
    right: 35px;
    z-index: 1;
    bottom: 220%;
    border-radius: 15px;
}

.comment-popup-text {
    animation: fadeIn 4s cubic-bezier(0.19, 1.66, 0.82, 1.4);
}

@keyframes fadeIn {
  0%,100% { opacity:0; }
  50% { opacity:1; }
}

.popup-triangle {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
    opacity: 80%;
}