#content {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#greeting-container {
  margin-top: 20px;
}

* {
   margin: 0px;
   padding: 0px;
}

#header {
    width: 100%;
    height:150px;
    background: #404E4D;
    color: #EBF6FF;
}

h1  {
    margin-left: 10px;
    padding-top: 40px;
    text-align: left;
}

#tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.tab {
    padding-top: 40px;
    margin-right: 15px;
    margin-left: 10px;
    cursor: auto;
}

.tab:hover {
    padding-top: 35px;
}


body {
    background: #EBF6FF;
    font-family: 'Open Sans', sans-serif;
    color: #2E3532;
}

.contentdiv {
    display: none;
    padding-top: 20px;
}

#aboutme-div {
    display:block;
    height: 300px;
}

#aboutme {
    vertical-align:middle;
}


#profileimg {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    margin-right: 10px;
    float: left;
}

#links {
    display: flex;
}


.fa {
  padding: 10px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover, #github-icon:hover, #github-img:hover {
  opacity: 0.7;
}

.fa-linkedin {
    width: 20px;
    height: 20px;
    background: #007bb5;
    color: white;
}

#github-icon {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    background: black;
}

#github-img {
    width: 40px;
    height: 40px;
}

#slideshow-container, #slideshow-container-container {
    display: block;
    width: 300px;
    height: 400px;
}

#slideshow-container-container {
    display:flex;
    align-items:center;
    margin: auto;
}

.arrow {
    height: 40px;
    width: 25px;
    margin: 10px;
}